<% provide(:title, t("static_pages.contact_page.contact")) %>
<h1><%= t "static_pages.contact_page.contact" %></h1>
<p>
  <%= t "static_pages.contact_page.contact_ruby" %>
  <%= link_to(t("static_pages.contact_page.contact"), "http://www.railstutorial.org/contact") %>
</p>
