<% provide :title, t("static_pages.home_page.home") %>
<h1><%= t "static_pages.home_page.samp" %></h1>
<p>
  <%= t"static_pages.home_page.this" %>
  <%= link_to(t("static_pages.home_page.rb_r"),"http://www.railstutorial.org/") %>
  <%= t "static_pages.home_page.samp_app" %>.
</p>
