<h1><%= t "static_pages.home_page.sample" %></h1>
<p>
  <%= t"static_pages.home_page.this" %>
  <%= link_to(t("static_pages.home_page.ruby_rails"),"http://www.railstutorial.org/") %>
  <%= t "static_pages.home_page.sample_app" %>.
</p>
